*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dev
*.idsig
bin/
gen/
local.properties
Thumbs.db
.DS_Store
*.iml
.idea
.gradle
build/
.navigation
captures/
output.json
obj/
.externalNativeBuild
keys/
/trafikverket_tracker_signed_debug.apk.idsig
/trafikverket_tracker_signed_debug.apk
/trafikverket_tracker_signed_release.apk
/trafikverket_tracker_signed_release.apk.idsig
/gradle/wrapper/gradle-wrapper.jar
/gradlew
/gradlew.bat
.idea
.kotlin
.idea/gradle.xml
/baselineprofile/
/app/src/release/
